body {
    background-image: url("img/00.jpg");
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed; /*image is fixed, not scrolled*/
}
